.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
}


.light {
    color: #00ccff;
}

.dark {
    color: #FFC107;
}

.logo {
    position: relative;
    height: 50px;
    width: 50px;
}



.theme {
    margin-left: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        position: relative;
        height: 100%;
    }
}